[Unit]
Description=Trashcan Audio Classifier Daemon
After=network.target sound.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/CPS-Project-Trashcan
EnvironmentFile=/home/pi/CPS-Project-Trashcan/.env
ExecStart=/usr/bin/python3 -u edgeimpulse/main.py
Restart=always
RestartSec=2
# Optional: mehr offene Dateien / Audiozugriff
LimitNOFILE=65536

# Journald: eigene Einheitensammlung
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

